{{- $isWSL := false }}
{{- if eq .chezmoi.os "linux" }}
  {{- if contains "microsoft" (lower .chezmoi.kernel.osrelease) }}
    {{- $isWSL = true }}
  {{- end }}
{{- end }}

{{- $hasDriveD := stat "D:\\" | not | not }}

[data]
  isWSL = {{ $isWSL }}
  isWindows = {{ eq .chezmoi.os "windows" }}
  hasDriveD = {{ $hasDriveD }}
