repoPaths:
  "*/*": ~/src/github.com/*/*

keybindings:
  prs:
    - key: d
      command: |-
        tmux new-window -c {{.RepoPath}} '
          tmux rename-window {{.RepoName}}#{{.PrNumber}} &&
          gh pr checkout {{.PrNumber}} &&
          nvim -c ":DiffviewOpen origin/..."
        '
    - key: C
      command: |-
        tmux new-window -c {{.RepoPath}} '
          tmux rename-window {{.RepoName}}#{{.PrNumber}} &&
          gh pr checkout {{.PrNumber}} &&
          nvim -c ":Octo pr edit {{.PrNumber}}"
        '
